/.vscode/
/Data/
/runs/
/__pycache__/
/BestResults/yolov8n_best_custom2/
/BestTrainingResults/
/DefaultModels/
/experiment_results/
/yolo_experiment_output/
/coin_detector_webapp/__pycache__/
/coin_detector_webapp/static/uploads/
